@import url(https://fonts.googleapis.com/css?family=Syncopate);

::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --size: 250px;
}
/* nabar */
.navbar .nav-item .nav-link,
.dropdown-menu .dropdown-item {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  color: #7c7c90a6;
}
.navbar .nav-item .nav-link:hover,
.dropdown-menu .dropdown-item:hover,
.navbar .nav-item .nav-link.active,
.dropdown .dropdown-menu .dropdown-item.active {
  color: #650808;
}
.navbar button {
  background-color: #ded7d7;
}

/* body */
body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  color: #650808;
  font-family: Lato;
}
.bod {
  background-image: url(images/back.jpg);
}
h1 { 
  font-size: 60px;
  line-height: 0.9;
  padding: 20px;
  font-family: "Syncopate", sans-serif;
  text-transform: uppercase;
  background: radial-gradient(circle farthest-corner at center center,rgb(240, 7, 7),#111)
    no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 
/* le dés sur l'index */
.cube {
  margin-top: 20px;
  width: var(--size);
  height: var(--size);
  transform-style: preserve-3d;
  animation: spin 20s infinite linear;
}
.cube:hover {
  animation-play-state: paused;
}
.cube:active {
  animation: spin 1s infinite linear;
}
.side {
  position: absolute;
  
  width: var(--size);
  height: var(--size);
}
#face1 {
  background: url(images/face1.png) no-repeat center/cover;
  transform: translateZ(calc(var(--size) / 2));
}
#face2 {
  background: content-box url(images/face2.png) no-repeat center/cover;
  transform: rotateX(270deg) translateY(calc(-1 * (var(--size) / 2)));
  transform-origin: top center;
}
#face3 {
  background: url(images/face3.png) no-repeat center/cover;
  transform: rotateX(-270deg) translateY(calc(var(--size) / 2));
  transform-origin: bottom center;
}
#face4 {
  background: url(images/face4.png) no-repeat center/cover;
  transform: rotateY(-270deg) translateX(calc((var(--size) / 2)));
  transform-origin: top right;
}
#face5 {
  background: url(images/face5.png) no-repeat center/cover;
  transform: rotateY(270deg) translateX(calc(-1 * (var(--size) / 2)));
  transform-origin: top left;
}
#face6 {
  background: url(images/face6.png) no-repeat center/cover;
  transform: rotateY(-180deg) translateZ(calc((var(--size) / 2)));
}
@keyframes spin {
  from {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}
/* le bouton commencer */
.bouton {
  font-family: Lato;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
}
/* page start */
.back {
  position: absolute;
  background-color: #9b92926f;
  width: 50%;
  height: auto;
}
.placement {
  margin-top: 100px;
}
.place{
  margin-top: 50px;
}
button {
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  color: #555;
  background: none;
  border: none;
  font-family: Lato;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.3s, color 0.3s;
}
button:hover {
  color: #cc0909;
  font-weight: 600;
}
button:hover .icone {
  margin-right: 30px;
}
button:focus {
  outline: none;
}
.icone {
  display: inline-block;
  margin-right: 15px;
  font-size: 30px;
  line-height: 1;
  vertical-align: text-top;
  transition: margin 0.3s;
}
.active {
  background-color: #f7f7f7;  
}
.current-box {
  background-color:#cc0909;
  color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}
.player-name {
  font-size: 75px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  font-family: "Syncopate", sans-serif;
  text-transform: uppercase;  
}
.active .player-name {
  font-weight: 800;
 }
.active .player-name::after {
  content: "\2022";
  font-size: 67px;
  position: absolute;
  color: #cc0909;
  top: 5px;
  right: -35px;
}
.score {
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-size: 80px;
  font-weight: 300;
  color:rgb(240, 7, 7);
  margin-bottom: 130px;
}
.dice {
  width: var(--size);
  height: var(--size);   
}
.logo{
  width: 30px;
  transition: 2s all;
}
.logo:hover{
  width: 50px;
}
@media only screen and (max-width: 1300px) {
  :root {
    --size: 200px;
  }
  h3{
    font-size: 22px;
  }
  .player-name{
    font-size: 25px;
  }
  .score{
    font-size: 48px;
  }
  .media{
    font-size: 12px; 
  }
  .placement {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 800px) {
  :root {
    --size: 100px;
  }
  h3{
    font-size: 22px;
  }
  .player-name{
    font-size: 17px;
 }
 .score{
   font-size: 48px;
 }
 .media{
   font-size: 12px; 
 }
.placement {
  margin-top: 100px;
}
}